<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Push"></activity>
        <activity android:name=".Profile" />
        <activity android:name=".Login"></activity>
        <activity android:name=".Register" />
        <activity android:name=".DetailActivity" />
        <activity android:name=".AffectedCountries" />
        <activity android:name=".Stat" />
        <activity android:name=".setting" />
        <activity android:name=".Check" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCACjfOlZGte7X2l5kYddzingLJJtVTVhs" />

        <activity android:name=".MapActivity" />
        <activity android:name=".PrecDet" />
        <activity android:name=".SympDet" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>